$메인컬러 : #ff0000;

.red {
    color: $메인컬러
}

// div.container h4 {
//     color: blue;
// }

// div.container p {
//     color: green;
// }
//밑의 방법으로 하는 것을 추천한다

div.container {
    h4{
        color: rgb(132, 0, 255);
    }
    p {
        color: green;
    }
}

.my-alert {
    background-color: #ffe591;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    max-width: 700px;
    width: 100%;
    p {
        margin-bottom: 0;
    }
}

.my-alert2 {
    @extend .my-alert;
    background: #eeeeee;
}

.my-alert3 {
    @extend .my-alert;
    background: #ffe591;
    max-width: 100%;
}